.test{
	background-color: blue;
}

.board {
	background-color: #966F33;
}

.square {
	width: 100px;
	height: 100px;
	background-color: white;
	opacity: 0.7;
	margin:7px;
	padding: 20px;
	-webkit-transition: background-color .2s ease;
	-moz-transition: background-color .2s ease;
	-o-transition: background-color .2s ease;
	-ms-transition: background-color .2s ease;
	transition: background-color .2s ease;
}

.circle{
	border: 10px solid black;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	box-shadow: 0 0 1px 0px rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	z-index: 100px;
}

.hover{
	opacity: 0.4;
}

.x {
	width: 100%;
	height: 100%;
	position: relative;
}

/*css x  = \00d7*/
.x:before, .x:after{
	content:"";
	position: absolute;
	z-index: -1;
	background: red;
}

.x:before {
	left:55%;
	width: 20%;
	margin-left: -15%;
	height: 100%;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
}

.x:after {
  	top: 55%;
  	height: 20%;
  	margin-top: -15%;
  	width: 100%;
  	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
}